---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';

import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
---

<Layout title="Rodrigo Lourenço's Portfolio - Software Enginneer Focused on Web and Mobile Technologies" description="">
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-32">
  		<img class="rounded-full size-12 mb-4" src="https://github.com/rodrigofplourenco.png" alt="rodrigofplourenco photo">

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Rodrigo Lourenço
				<a href="https://lindadevelop.com/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Employed</Badge>
				</a>
			</h1>

			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				<span>+2 years of experience.</span> 
				<span class="text-yellow-200/90">Software Enginneer Focused on Web and Mobile Technologies.</span> 
				<span class="text-red-200/90">From Viseu, Portugal.</span> 
				<span class="opacity-75">Specialized in creating unique applications.</span>
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://linkedin.com/in/rodrigofplourenco">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>

				<SocialPill href="https://github.com/rodrigofplourenco">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>

				<SocialPill href="mailto:rodrigofplourenco2002@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					rodrigofplourenco2002@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<BriefcaseIcon class="size-7" />
				Experience
			</h2>

			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Projects
			</h2>

			<div class="flex flex-col gap-y-8">
				<Projects />
			</div>
		</SectionContainer>
	</main>
</Layout>
